<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />

    <title>{{#if title}}{{ title }}{{else}}{{ metadata.title }}{{/if}}</title>
  </head>
  <body>
    <!-- navbar -->
    <div class="navbar">
      <nav style="margin-bottom: 20px">
        <a href="../home.html">Home</a>
        <a href="../about.html">About</a>
        <a href="">Posts</a>
      </nav>
      <hr />
    </div>

    <!-- Content -->
    <div class="website-contents">{{{ content }}}</div>
  </body>

  {{> styles}}
</html>
