<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />

    <title>{{ title }}</title>
  </head>
  <body>
    {{> navbar}}

    <!-- Content -->
    <div class="website-contents">
      <div
        style="
          width: 70%;
          align-items: center;
          display: flex;
          flex-direction: column;
        "
      >
        <h1 style="width: fit-content">{{ title }}</h1>

        <div
          style="
            display: flex;
            justify-content: center;
            gap: 5px;
            align-items: center;
          "
        >
          <span>{{ metadata.date }}</span>
          <span style="font-size: larger">·</span>
          <span>
            <img
              src="../images/clock-nine.svg"
              style="width: 16px; height: 16px; vertical-align: middle"
            />
            {{ metadata.read_mins }} mins
          </span>
          <span style="font-size: larger">·</span>
          <span>
            {{#each metadata.tags}}
            <a href="../tags/{{ this }}.html">#{{ this }}</a>
            {{/each}}
          </span>
        </div>
      </div>

      <div class="main-blog">{{{ contents }}}</div>
    </div>

    {{> styles}}
  </body>
</html>
