<div class="codeblock">
  <p class="lang-label">{{ lang }}</p>

  <code>
    <pre>{{{ contents }}}</pre>
  </code>
</div>

<!-- <style>
  .codeblock {
    background-color: #31353f;
    width: fit-content;
    padding: 10px;
    /* padding-top: 20px; */
    position: relative;
    border: 4px solid #393f4a;1
    border-radius: 10px;

    font-size: 150%;
  }

  .lang-label {
    background-color: #393f4a;
    width: fit-content;
    padding: 4px 8px;
    border-radius: 0 0px 0 5px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    color: #ffffff;
  }

  code {
    display: block;
    margin-top: 40px;
  }
</style> -->
