<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />

    <title>Home Page</title>
  </head>
  <body>
    {{> navbar}}

    <!-- Content -->
    <div class="website-contents">
      <h1>Squawkykaka</h1>
      <div class="main-posts">
        {{#each blogs}}
        <div class="post-block">
            <a href="/posts/{{ this.slug }}" style="color: #abb2bf; text-align: center;">
                <h2>{{ this.title }}</h3>
            </a>
            <div
              style="
                display: flex;
                justify-content: center;
                gap: 5px;
                align-items: center;
              "
            >
              <span>{{ this.metadata.date }}</span>
              <span style="font-size: larger">·</span>
              <span>
                <img
                  src="/images/clock-nine.svg"
                  style="width: 16px; height: 16px; vertical-align: middle"
                />
                {{ this.metadata.read_mins }} mins
              </span>
              <span style="font-size: larger">·</span>
              <span>
                {{#each this.metadata.tags}}
                <a href="/tags/{{ this }}">#{{ this }}</a>
                {{/each}}
              </span>
            </div>

            <hr />
            
            {{ #if this.metadata.description }}
            <p style="padding: 10px;">{{{ this.metadata.description }}}</p>
            {{ else }}
            <p style="font-style: italic;">No description set.</p>
            {{/if}}
          </div>

          {{/each}}
        </div>
    </div>

    {{> styles}}
  </body>
</html>
